.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:horizontal .increment-arrow,

.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:horizontal .increment-button,

.list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .decrement-button,

.titled-pane > .title > .arrow-button .arrow {
    -fx-padding: 0;
}

.titled-pane > .title {
    -fx-background-color: transparent;
}

.titled-pane > *.content {
    -fx-border-width: 0;
}

#agentList .list-cell,
#accountList .list-cell {
    -fx-border-radius: 0;
}

.list-cell:filled:selected:focused {
    -fx-background-color: #ED1711;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-weight: 600;
}

.list-cell:filled:selected:focused .account-label {
    -fx-text-fill: #ffffff;
}

.account-label-header {
    -fx-text-fill: #ffffff;
}

/*.list-cell {*/
    /*-fx-background-color: #f2f2f2;*/
    /*-fx-border-radius: .5em;*/
    /*-fx-background-radius: .5em;*/
    /*-fx-text-fill: #ADADAC;*/
/*}*/

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: #f2f2f2;
}

#agentList {
    -fx-background-color: #FFFFFF;
}

#header-title {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.6em;
    -fx-border: 1em;
}
